<h1><%= t(:editing_company, :scope => :companies) -%></h1>

<%= render :partial => "form", :locals => { :company => [:admin, @company], :url => admin_company_path(@company) } %> 

<%= link_to t(:show, :scope => :global), admin_company_path(@company) %> |
<%= link_to t(:back, :scope => :global), admin_companies_path %>
