.number {
    text-align: right;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

div.form_header {
    width:100%;
    background-color:#bed6ea; 
}
div.form_header table {
    width:100%;
}
div.form_header table thead th {
    font-weight: bold; 
    text-align: center;
}
div.form_header table tbody td {
    text-align: center;
}

div.form_body {
    
}

div.form_items table thead th {
    font-weight: bold; 
    text-align: center;
}
div.form_items table tbody td {
    text-align: center;
}

/* weekly_sales_items */
td.shift_general {
    background-color:#9a7292; 
}
td.shift_product {
    background-color:#a0b1f1;
}
td.shift_liquid {
    background-color:#84d472;
}

