<% weekly_sale_setup_liquid = WeeklySaleSetupLiquid.find(id) %>

<tr id="row_weekly_sale_setup_liquid_<%=@counter.to_s%>">
  <td id="weekly_sale_setup_liquid_name" style="background-color:#84d472;">   
    <%= weekly_sale_setup_liquid.name %>
  </td>
  <td id="weekly_sale_setup_liquid_display_order" style="background-color:#84d472;">   
    <%= weekly_sale_setup_liquid.display_order %>
  </td>
  <td id="weekly_sale_setup_liquid_account_id" style="background-color:#84d472;">   
    <%= weekly_sale_setup_liquid.account %>
  </td>
</tr>
