<h1><%= t('units.new') %></h1>

<%= render :partial => 'form' %>                                                                        

<%= link_to t('global.show'), @unit %> |
<%= link_to t('global.back'), units_path %>
