<p>
  <b>Name:</b>
  <%= @car.name %>
</p>

<p>
  <b>Comments:</b>
  <%= @car.comments %>
</p>

<% if permitted_to? :edit, @car %>
  <%= link_to 'Edit', edit_car_path(@car) %> |
<% end %>
<%= link_to 'Back', cars_path %>
