<h1>Editing county</h1>

<% if @county.is_visible == true %>
    <%= render 'form' %>
  <% else %>
	THIS THING IS DELETED ERROR
<% end %>

<%= link_to 'Show', [:admin, @county] %> |
<%= link_to 'Back', admin_counties_path %>
