<h1>Editing county</h1>

<%= form_for([:admin,@county]) do |f| %>
 <div class="field">
   <p>      
      <%= @county.name %>   
   </p>
   </div>
<% end %>

<p>
  <%= render :partial => "/admin/counties/index", :locals => { :county_tax_zones => @county.county_tax_zones }  %>
</p>

<%= link_to 'Back', admin_counties_path %>


