<p id="notice"><%= notice %></p>

  
    
    <p>
      <b>Name :</b>
      <%= @county.name %>
    </p> 

 
<%= link_to 'Back', admin_counties_path %>
<p>
  <%= render :partial => "/admin/counties/county_tax_zones_form", :locals => { :county_tax_zones => @county.county_tax_zones }  %>
</p>
